body {
  background-color: #e3c87d;
}
h1 {

  border-bottom: solid;
  outline: solid;
  outline-width: 3px;
  outline-color: green;
  font-family: fantasy, papyrus;
}
h2{
  font-family: serif, garamond;
}
h3{
  font-family: serif, garamond;
}
p {
  font-family: serif, garamond;
  font-size: 20px;
}
ol{
  font-family: serif, garamond;
  font-size: 20px;
