h1 {
  text-shadow: 3px 3px 3px white;
  color: grey;
}
h2 {
  text-shadow: 3px 3px 3px white;
  color: grey;
}
main {
  font-family: verdana, sans-serif;
}
body {
  background-color: #ffe499;
  border: solid;
  border-color: grey;
  border-width: thick;
  padding: 10px 10px 10px 10px;
  text-align:center;
}
#results{
  text-align: center;
}
#output-image{
  text-align: center;
}

#content {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#output {
  border: red 1px solid;
  min-height: 200px;
  margin-top: 10px;
}
